{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Circle</h1>
    <form action="/circleanswer">
        <label>
            a:
            <input type="number" name="a" placeholder="a">
        </label>    
        <button>Submit</button>
    </form>
{% endblock %}