{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Square equations</h1>
    <p>
        <i>a =<i> <b>{{ a }}</b>
    </p>
    <p>
        <i>S = a<sup>2</sup> = a * a =<i> <b>{{ S }}</b>
    </p>
    <p>
        <i>P = 4a =<i> <b>{{ P }}</b>
    </p>
    <p>
        <i>V = a<sup>3</sup> = a * a * a =<i> <b>{{ V }}</b>
    </p>
{% endblock %}
    
